body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.todo-container {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
}

input {
  width: 60%;
  padding: 8px;
}

button {
  padding: 8px 10px;
  margin-left: 5px;
}

li {
  list-style: none;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
